body {
 	padding: 0px;
 	margin: 0px;
	background: #f2f6e9;
}

/*--- navigation bar ---*/
.navbar {
 	background: #F5AE7E;
}
.nav-link, .navbar-brand {
 	color: #fff;
	cursor: pointer;
}
.nav-link {
	margin-right: 1em !important;
}
.nav-link:hover {
	color: #000;
}
.navbar-collapse {
 	ustify-content: flex-end;
}

/*--- background ---*/
.header {
 	background-image: url('encheres.jpg');
 	background-size: cover;
 	background-position: center;
 	position: relative;
}

/*--- superposition texte-background ---*/
.overlay {
 	position: absolute;
	min-height: 100%;
	min-width: 100%;
 	left: 0px;
 	top: 0px;
 	background-color: rgba(0, 0, 0, 0.4);
}
.description {
 	left: 50%;
 	position: absolute;
 	top: 45%;
 	transform: translate(-50%, -55%);
 	text-align: center;
}
.description h1 {
 	color: #F5AE7E;
}
